 {% extends 'blog/base.html' %} {% block content %}
<div class="container">
  <div class="=row">




    {% if user_posts %}
    <div class="col-md-6" style="overflow-y: scroll; height:700px;">
      {% for post in user_posts %}
      <div class="post">
        {% if post.blog_image %}
        <img src="{{ post.blog_image.url }}" alt="" class="img-responsive">
         {% endif %}
        <h4><a class="dis" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
        <h5>Posted By:{{ post.author }}</h5>
        <div class="date">
          {{ post.published_date }}
        </div>

      </div>
      {% endfor %}
    </div>
    {% endif %}

    <center>

      <div class="col-md-6" style="{% if user_posts %}overflow-y: scroll; height:700px;{% endif %}">
        {% for post in other_posts %}
        <div class="post">
          {% if post.blog_image %}
          <img src="{{ post.blog_image.url }}" alt="" class="img-responsive">
           {% endif %}
          <h4><a class="dis" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
          <h5>Posted By:{{ post.author }}</h5>
          <div class="date">
            {{ post.published_date }}
          </div>

        </div>
        {% endfor %}
      </div>
    </center>

  </div>
</div>
{% endblock %}
